.wheel {
  width: 700px;
  height: 700px;
  position: relative;
  overflow: hidden;
  background: red;
  border-radius: 50%;
}

.left,
.right {
  position: absolute;
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.right {
  left: 50%;
}

.left {
  left: 0;
}

img {
  width: 100%;
  height: 100%;
}

.segment-I {
  top: 0;
  clip-path: polygon(100% 100%, 42.3% 0, 100% 0);
  z-index: 3;
}

.segment-II {
  z-index: 2;
}

.segment-III {
  top: 0;
  clip-path: polygon(100% 100%, 0 100%, 0 42.3%);
  z-index: 3;
}

.segment-IV {
  top: 50%;
  z-index: 3;
  clip-path: polygon(100% 0, 0 57.7%, 0 0);
}

.segment-V {
  top: 50%;
  z-index: 2;
}

.segment-VI {
  top: 50%;
  z-index: 3;
  clip-path: polygon(100% 0, 100% 100%, 42.3% 100%);
}

.segment-VII {
  top: 50%;
  z-index: 3;
  clip-path: polygon(0 0, 57.7% 100%, 0 100%);
}

.segment-VIII {
  top: 50%;
  z-index: 2;
}

.segment-IX {
  top: 50%;
  z-index: 3;
  clip-path: polygon(100% 0, 100% 57.7%, 0 0);
}

.segment-X {
  top: 0;
  z-index: 3;
  clip-path: polygon(100% 57.7%, 100% 100%, 0 100%);
}

.segment-XI {
  top: 0;
  z-index: 2;
}

.segment-XII {
  top: 0;
  z-index: 3;
  clip-path: polygon(0 0, 57.7% 0, 0 100%);
}
